.page-header
  %h1 Find Bicycle
  .row
    .col-md-12
      .input-group
        %input.form-control
        %span.input-group-btn
          %button.btn.btn-primary Go!

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Description

    %tbody
      - @bicycles.each do |bicycle|
        %tr
          %td= bicycle.name
          %td= bicycle.description
