.page-header
  %h1 Find Bicycle
  .row
    .col-md-12
      = form_tag bicycles_path, method: 'get', remote: true do
        .input-group
          = text_field_tag :search, nil, class: 'form-control'
          %span.input-group-btn
            = submit_tag 'Find', class: 'btn btn-primary'

= render 'bicyles_table'
